In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from selenium import webdriver

In [17]:
!which chromedriver

chromedriver not found

In [3]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser=Browser('chrome',**executable_path, headless=False)

In [ ]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser=Browser('chrome',**executable_path, headless=False)

In [4]:
# Visit the mars nasa news site
url='https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text',wait_time=1)

True

In [5]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')
slide_elem.find('div',class_='content_title')

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title=slide_elem.find('div',class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars"

In [7]:
# Use the parent element to find the paragraph text
news_p=slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

"For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design."

 ## JPL Space Images Featured Image

In [8]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem=browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html=browser.html
img_soup=soup(html,'html.parser')

In [11]:
# find the relative image url
# <img class="fancybox-image" src="image/featured/mars2.jpg" alt="">
img_url_rel=img_soup.find('img',class_="fancybox-image").get('src')
img_url_rel

'image/featured/mars2.jpg'

In [12]:
# Use the base url to create an absolute url
img_url=f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'


# ## Mars Facts

In [13]:
df=pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [14]:
df.columns=['Description', 'Mars', 'Earth']

df.head()

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [15]:
df.set_index('Description')

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [16]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
browser.quit()

In [ ]:
!pip install splinter

In [ ]:
!pip install webdriver_manager

In [ ]:
!pip install bs4

In [ ]:
!pip install html5lib